<div class="ui segment" id="charttemp"></div>
<script>
  const datatemp = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", 
        type: "line",
        values: [
          {{#each reading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      },
      
    ]
  }

  const charttemp = new frappe.Chart("#charttemp", {
    title: "Temp Trends",
    data: datatemp,
    type: 'line',
    lineOptions: {dotSize: 8},
    height: 200,
    colors: ['red'],
  })
</script>