<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
     {{#each station.readings}}
    <tr>
      <td>
        800
      </td>
      <td>
        0.5
      </td>
      <td>
        3.5
      </td>
      <td>
        1002
      </td>
    </tr>
     {{/each}}
  </tbody>
</table>