{{#each stations}}
  <section class="ui stacked segment">  
    <a href="/station/{{id}}" class="ui icon button">
      <i class="green icon folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{id}}" class="ui icon button">
      <i class="red icon trash"></i>
    </a>
  </section>
{{/each}}