<div class="ui inverted teal segment">
<div class="ui inverted stackable three cards">
  <div class="red card">
    <div class>
      {{>charttemp}}
    </div>
  </div>
  <div class="blue card">
    <div class="">
      {{>chartwind}}
    </div>
  </div>
  <div class="purple card">
    <div class="">
      {{>chartpressure}}
    </div>
  </div>
</div>
</div>
