{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop 2
  </h3>
  <p>
    A web app to record weather readings from weather stations.
  </p>
</section>