{{> menu id="dashboard"}}

{{#each stations}}
<section class="ui segment">
  <h2 class="ui header">
    {{name}}
  </h2>
  <p>
     {{> latestreadings}}
  </p>
  <a href="/station/{{id}}"> View </a>
</section>
{{/each}}