{{> menu id="dashboard"}}

{{#each stations}}
<section class="ui yellow segment">
  <h2 class="ui header">
    <u>{{name}}</u>
  </h2>
  <p>
     {{>station-panel}}
  </p>

 <section class="ui inverted yellow segment">
    
    <a href="/station/{{id}}" class="ui icon button">
      <i class="ui green icon folder open"></i>
    </a>
    <a href="/dashboard/deletestation/{{id}}" class="ui icon button">
      <i class="ui red icon trash"></i>
    </a>
  </section>
</section>
{{/each}}

<section class="ui segment">
  {{>stationmap}}
  {{> addstation}}
</section>
