{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <p> Welcome to WeatherTop 2 </p>
  <p> To use the app please Signup or Login now. </p>
  <section class="ui segment">
   <img class="ui center aligned middle image" id="Home-Image" src="https://cdn.glitch.global/57a1a97e-84f6-4c58-9694-289333a0eb96/weatherstation.jpg?v=1661981052051">
    </section>
</section>
