{{>menu}}

<section class="ui left aligned middle aligned segment">
  <h2 class="ui header">
    <u>{{station.name}}</u>
  </h2>
   <p>
    {{>latestreadings}}
  </p>
    {{>weather-charts}}
    {{>reading-table}}
    {{>addreading}}
    {{>autoreading}}
  
</section>